.header .fas {
    font-size: large;
    margin-right: 2em;
}

.header{
    padding-left: 3em;
    padding-right: 3em;
}

.header-center {
    float: left;
    width: 20%;
    margin-right: auto;
    margin-left: auto;
}

.header-left {
    float: left;
    width: 40%;
}

.header-right {
    width: 20%;
    float: right;
}

.header svg {
    text-align: center;
    width: 12em;
    height: auto;
}

.header button {
    background-color: #6889a2;
    color: white;
    padding: 1em;
    border: 1px solid black;
    border-radius: 3px;
    font-weight: 700;
}

.centerContentPart {
    font-size: 1.42rem;
    line-height: 1.8;
}
.centerContentPart > iframe{
    width: 100%;
    height: 16em;
}
.video-caption {
    color: #666;
}
.main-caption{
    font-size: 0.9rem;
}
.sub-title-caption{
    font-size: 0.8rem;
}
